$minoraccent: #CAEBF2;
$textcolor: #545454; /*#A9A9A9;*/
$bgcolor: #EFEFEF;
$boldaccent: #FF3B3F;

body {
    background-color: $bgcolor;
    color: $textcolor;
}

div.nav {
  background-color: $bgcolor;
  margin: -8px;
  border-bottom: 1px solid $textcolor;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.4em;

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  li {
    font-family: 'Oswald', sans-serif;
    line-height: 40px;
    height: 40px;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    float: left;
  }

  li.nav-title {
    color: $textcolor;
    border-right: 1px solid $textcolor;
    width: 140px;
  }

  a {
    text-decoration: none;
    color: $textcolor;
    display: block;
    transition: .3s background-color;
  }

  a:hover {
    background-color: $boldaccent;
    color: $bgcolor;
  }

  a.active {
    background-color: $boldaccent;
    color: $bgcolor;
    cursor: default;
  }
}

button {
  background: $bgcolor;

  &.save-order-changes,
  &.cancel-order-changes {
      cursor: pointer;
      color: $bgcolor;
      background: $boldaccent;
  }

  &.save-order-changes:hover
  &.cancel-order-changes {
    color: #000;
    background: #a1bdea;
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
    color: #b0b0b0;
    background-color: #f7f7f7;
  }
}

table {
  border-spacing: 0;

  th {
    border-color: $textcolor;
  }

  &.new-row-table {
    border-top: 1px solid $textcolor;

    input {
      width: 100px;
    }
  }
}

td {
  border-color: $textcolor;

  &:first-child {
    padding-left: 5px;
  }

  &.cell-expand-button {
    cursor: pointer;
    font-weight: bold;
    color: $boldaccent;
    font-size: 1.2em;
  }

  .cell-editable {
    background-color: $minoraccent;
    padding: 5px;
  }

  input.cell-editable {
    width: 100px;
    background-color: rgb(255, 255, 255);
  }

  .expanded-cell-title {
    font-weight: bold;
    margin-right: 10px;
  }
}

div {
  &#orders-header {
    position: fixed;
    background-color: $bgcolor;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid $textcolor;
    padding-bottom: 10px;
    font-weight: bold;
  }

  &#orders-content {
    margin-top: 140px;
  }

  &#market-content {
    margin-top: 50px;
  }

  &.loading-indicator {
    position: absolute;
    z-index: 999;
    background: $bgcolor;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    display: none;
  }

  &.loading-indicator.enabled {
    display: block;
  }
}
